    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    img{
        max-width: 100%;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section { 
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
        color: #ffffff;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000; 
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    /*table {
        border-collapse:collapse;
        border-spacing:0;
    }*/
table.botonNuevo {
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

table.botonNuevo tbody td {
        color: #000000;
}

table.cinereousTable {
    font-family: Tahoma, Geneva, sans-serif;
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    table.cinereousTable td, table.cinereousTable th {
        border: 1px solid #948473;
        padding: 4px 4px;
    }

    table.cinereousTable tbody td {
        font-size: 13px;
        color: #000000;
    }

    table.cinereousTable tr:nth-child(even) {
        background: #D9C2A7;
    }

    table.cinereousTable thead {
        background: #948473;
        background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
        background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
        background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
    }

    table.cinereousTable thead th {
        font-size: 17px;
        font-weight: bold;
        color: #F0F0F0;
        text-align: center;
        border-left: 2px solid #948473;
    }

    table.cinereousTable thead th:first-child {
        border-left: none;
    }

    table.cinereousTable tfoot {
        font-size: 16px;
        font-weight: bold;
        color: #F0F0F0;
        background: #948473;
        background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
        background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
        background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
    }

    table.cinereousTable tfoot td {
        font-size: 16px;
    }


    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;   
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }