@model IEnumerable<WebRegionalismos.Models.Pais>


<select id="SelectPais">

    @if (Model != null)
    {
        <option disabled selected>Seleccione provincia</option>

        foreach (var item in Model)
        {
            <option value=@item.IdPais>
                @Html.DisplayFor(modelItem => item.DescripcionPais)
            </option>
        }
    }
    else
    {
        <option disabled selected>No hay elementos cargados</option>
    }
</select>


